* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  --theme-white: #f4f0bb;
  --theme-brown: #43291f;
  --theme-lightbrown: #5a3d32;
  --theme-darkgreen: #226f54;
  --theme-lightgreen: #87c38f;
  --theme-red: #da2c38;
}

.App {
  height: 100vh;
  background-color: var(--theme-white);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 3rem;
  color: var(--theme-brown);
}

.main {
  display: grid;
  grid-template-areas:
    'header'
    'nav'
    'info';
  width: 90%;
  margin: 0 auto;
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--theme-brown);
  font-size: 1.5rem;
  height: 200px;
}

.nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 80px;
}

.nav h2 {
  margin: 0 20px;
  padding: 2px 10px;
  font-size: 1.2rem;
  color: var(--theme-lightbrown);
  cursor: pointer;
}

.nav h2:hover {
  border-bottom: 3px solid var(--theme-brown);
}

.info {
  grid-area: info;
}

.info-job {
  margin-bottom: 20px;
  color: var(--theme-red);
  font-size: 1.7rem;
}

.info-name {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 5px;
  background-color: var(--theme-red);
  color: var(--theme-white);
}

.info-period {
  margin-top: 5px;
  margin-bottom: 15px;
  color: var(--theme-lightgreen);
}

.info-bottom {
  height: 100px;
}

.more-info {
  margin: 10px 0;
  color: var(--theme-darkgreen);
}

.mark {
  color: var(--theme-red)
}

.btn {
  display: block;
  margin: 20px auto 0;
  padding: 5px 50px;
  border: none;
  border-radius: 5px;
  color: var(--theme-white);
  background-color: var(--theme-brown);
  cursor: pointer;
}

@media screen and (min-width: 729px) {
  :root {
    font-size: 20px;
  }

  .main {
    grid-template-areas:
      'header header'
      'nav info';
    grid-template-columns: 1fr 3fr;
  }

  .header {
    height: 20vh;
    margin-bottom: 20px;
    font-size: 1.7rem;
  }

  .nav {
    flex-direction: column;
    height: auto;
  }

  .nav h2 {
    margin-bottom: 50px;
    padding: 5px 5px;
  }

  .nav h2:hover {
    border: none;
    border-left: 3px solid var(--theme-brown);
  }

  .info {
    height: 50vh;
    padding-top: 50px;
  }

  .info-job {
    font-size: 1.7rem;
  }

  .info-period {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .more-info {
    font-size: 0.9rem;
  }

  .btn {
    margin-top: 60px;
    padding: 10px 100px;
  }
}