* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.main {
  display: grid;
  grid-template-areas:
    'header'
    'nav'
    'info';
  width: 90%;
  margin: 0 auto;
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  height: 80px;
}

.nav h2 {
  margin: 0 20px;
  font-size: 1.2rem;
}

.info {
  grid-area: info;
}

.info-job {
  margin-bottom: 20px;
}

.info-period {
  margin-bottom: 15px;
}

.info-bottom {
  height: 100px;
}

.btn {
  display: block;
  margin: 0 auto;
}